.about{
  background-color:rgb(22, 16, 16);
  margin-top:0%;
  width:auto;
  height: 980px;
  margin-bottom:0%;
}
.name{
  position:absolute;
  left: 190px;
  top: 130px;
  color: #FFA114;
  font-size: 60px;
  font-family: 'Sacramento';
  font-style:italic;
}
.image{
  position: absolute;
  left: 192px;
  top: 250px;
  border-image-outset: 00.5s;
  width: 30px;
  
}
  

.abt{
position: absolute;
left: 600px;
top: 251px;
width: 651px;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;

color: #FFFFFF;
}
