.header{
    height: 70px;
    padding: 0 20px;
    background: #0f95ca;
}
.logo{
    float: left;
    line-height: 70px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    color: white;
    
}
.menu{
    float: right;
    line-height: 70px;
    text-align: left;
}
.na{
    margin-right: 15px;
}
na:last-child{
    margin-right: 0;
}
.menu-item{
    text-decoration: none;
    color: white;
}
.show{
    float: right;
    line-height: 70px;
}
.show, .hide{
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: none;
    cursor: pointer;
}
#chk{
    visibility: hidden;
    z-index: -11111;
}
@media(max-width:768px){
    .show, .hide{
       display: block;
    }
    .menu{
        position: fixed;
        top: 0;
        right: 100%;
        height: 100vh;
        width: 100vw;
        background: #0f95ca;
        z-index: 11111;
        line-height: normal;
        text-align: center;
        transition: 0.5s;
    }
    .menu .na{
        display: block;
        margin-bottom: 30px;
        transition: 0.3s;
    }
    
    .menu .na:first-child{
        margin-top: 50px;
    }
    .hide{
        position: absolute;
        top: 24px;
        right: 10px;
    }
    .hide:hover{
        color: crimson;
     }
     #chk{
         visibility: hidden;
         z-index: -11111;
     }
     #chk:checked~ .menu{
        right: 0;
    }
}
